absl-py==0.7.1
astor==0.8.0
boto==2.49.0
boto3==1.9.188
botocore==1.12.188
certifi==2019.6.16
chardet==3.0.4
docutils==0.14
gast==0.2.2
gdown==4.3.0
gensim==3.8.3
google-pasta==0.1.7
grpcio==1.22.0
h5py==2.9.0
idna==2.8
jmespath==0.9.4
joblib==0.13.2
jupyter==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
line_profiler==3.3.1
Markdown==3.1.1
nltk==3.4.5
matplotlib==2.2.5
numpy~=1.18.5
pandas==0.24.2
pre-commit==2.8.2
protobuf==3.19.3
pyarrow==2.0.0
pyfunctional==1.4.3
python-dateutil==2.8.2
pytest==6.2.5
pytz==2019.1
regex==2022.1.18
requests==2.22.0
s3transfer==0.2.1
scikit-learn==0.24.2
six==1.12.0
smart-open==1.11.1
scipy==1.5.4
setuptools~=47.1.0
tensorboard==1.15.0
tensorflow==1.15.5
tensorflow-estimator==1.15.1
termcolor==1.1.0
tqdm==4.51.0
urllib3==1.25.3
Werkzeug==0.15.4
wrapt==1.11.2
-e .
