html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

html, body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 14px;
}

div.wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-weight: normal;
  font-size: 24px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

img.teaser {
  display: flex;
  padding: 20px 0;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

div.resource {
  width: 70px;
  height: 70px;
  cursor: pointer;
  background: #441949;
}

.citation-container {
  margin-bottom: 10px;
}

.citation {
  background: #efefef;
  border: 1px solid #cfcfcf;
  white-space: pre-wrap;
  padding: 8px 16px;
  font-family: monospace;
  font-size: 12px;
}

.citation-title {
  color: #AAA;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: -20px;
  margin-right: 8px;
  float: right;
}

.citation#plain {
  display: none;
}

div.logos {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

img.logo {
  height: 70px;
}

span.sep::after {
  content: "|";
  padding: 0 5px;
  color: #ccc;
}

@media (max-width: 750px) {
  div.wrapper {
    padding: 0 5%;
  }

  img.teaser {
    width: 90%;
  }
}

@media (max-width: 400px) {
  img.teaser {
    display: none;
  }
}